#header h1 a {
    color: #ffffff !important;
    font-weight: 700;
}


#user-tools {
    color: #e5e7eb !important;
}

#user-tools a {
    color: #bfdbfe !important;
    font-weight: 600;
}


#user-tools a:hover {
    color: #ffffff !important;
}