{% extends 'accounts/base.html'%}
{% block title %} Student Dashboard {% endblock %}

{% block content %}

<div class="container-fluid px-0">
  <div class="d-flex align-items-center justify-content-between flex-wrap gap-3 mb-4">
    <h2 class="text-primary m-0 fw-bold">Welcome to Student Dashboard</h2>


{% if unseen_count > 0 %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const updates = [
      {% for app in latest_updates %}
        {
          job: "{{ app.job.title|escapejs }}",
          status: "{{ app.get_status_display|escapejs }}"
        }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ];

    updates.forEach((u, i) => {
      setTimeout(() => {
        Toast.fire({
          icon: "info",
          title: `Status updated: ${u.job} → ${u.status}`
        });
      }, i * 3000); 
    });
  });
</script>


    <div class="row mb-4">
        <div class="col-md-6">

            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        Total Jobs Available
                    </h5>
                    <p class="card-text fs-3">{{ total_jobs }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card text-white bg-info mb-3">

            <div class="class-body">
                <h5 class="card-title">Jobs you have applied</h5>
                <p class="card-text fs-3">{{ jobs_applied }}</p>
            </div>

        </div>
    </div>

    <div class="card shadow mb-4">

        <div class="card-body">
            <h5 class="title">Job Type Distribution</h5>
            <canvas id="jobTypeChart" height="120"></canvas>
        </div>


        <a href="{% url 'all_student_jobs' %}" class="btn btn-warning w-100">View all Jobs </a>
    </div>

    <a href="{% url 'student_applied_jobs' %}">View Your Applied Jobs</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('jobTypeChart').getContext('2d')
    const jobChart = new Chart(
        ctx, {
        type: 'bar',
        data: {
            labels: {{ chart_label| safe }},
    datasets: [{
        label: 'Application Count',
        data: {{ chart_data| safe }},
        backgroundColor: ['pink', 'blue', 'yellow'],
        borderColor: ['red', 'blue', 'yellow'],
        borderWidth: 1
            }]
        },
    options: {
        'responsive': true,
            'scales': {
            y: {
                beginAtZero: true,
                    precision:
{% endif %}
  </div>
</div> 0
            }
        }
    }
    });
</script>
{% endblock %}